html{
    overflow-x: hidden;

}
body{
    width: 100vw;
    height: 100%;
    padding: 0;
}



.insight-heading {
    text-align:left;
    margin-bottom: 50px;
    position: relative;
    margin-top: 50px;
    margin-right: 9%;
    margin-left: 7%;   
  }
  
  .insight-heading::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-left: 17%;
    width: 80%;
    height:2px;
    background: var(--red-color);
    z-index: -1;
    
  
  
  }
  
  .insight-heading span {
    font-size: 60px;
    padding: .5rem 2rem;
    color: var(--red-color);
    
  
  }
  


.category {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px;
    justify-content: center;
    gap: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}





.book {
    position: relative;
    border-radius: 10px;
    width: 180px;
    height: 270px;
    background-color: var(--h-color);
    box-shadow: 1px 1px 12px #000;
    transform: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--beige-color);
    font-size: 18px;
    margin-bottom: 50px;
}

.book .cover {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    transform-origin: 0;
    box-shadow: 1px 1px 12px var(--red-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.book:hover .cover {
    transition: all 0.5s;
    transform: rotatey(-80deg);
}



.book .cover img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



@media (min-width:960px) and (max-width:1222px){
    .insight-heading::before {
        margin-left:25% ;
    }

    .category{     
        grid-template-columns: 180px 180px 180px 180px;
    }

    
}





@media (min-width:768px) and (max-width:960px) {
    .insight-heading::before {
        margin-left:29% ;
        width: 65%;
    }

   
    .category{
        grid-template-columns: 180px 180px 180px;
    }
    
}


@media (max-width:768px){

    .insight-heading::before {
        margin-left:37% ;
        width: 50%;
    }

    .category{
        grid-template-columns: 180px 180px;
    }
}
